.activeNavLink.active {
  text-decoration: underline;
  color: chartreuse;
  background: white;
}
.dark-theme {
  background-color: black;
  color: white;
}

/* Light Theme */
.light-theme {
  background-color: white;
  color: black;
}
